@use "../utilities/variables" as v;

// Estilos de la sección de detalles de una pelicula

.mainDetails {
  width: 75%;
  margin: 0 auto;
  min-width: 25rem;
  max-width: 175rem;
}

.loader__details {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin: 0 auto;
  margin-top: 5rem;
  width: 100%;
  max-width: 120rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;

  @media (max-width: 850px) {
    margin-top: 5rem;
  }

  &__item {
    font-size: 3rem;
    padding: 1rem 2rem;
    width: 20rem;
    border: none;
    border-radius: 10px;
    background-color: v.$back_menu_espera;
    cursor: pointer;
    transition: all 0.3s;

    @media (max-width: 850px) {
      font-size: 2rem;
      width: 15rem;
    }
  }

  .active {
    background-color: v.$yellow;
    color: v.$black;
  }

  .inactive {
    background-color: v.$black;
    color: v.$white;
  }

  .inactive:hover {
    background-color: v.$yellow;
    color: v.$black;
  }
}
