// Variables con los colores usados en la aplicación

// Color detalle y textos
$yellow: #e5bb3d;
$black: #1e1e1e;
$white: #f4f3f2;
$red: #eb6b6b;

// Background de la web
$back_web_darker: #070707;
$back_web_lighter: #14181c;

// Background de detalles
$back_menu_espera: #333333;
$back_menu_lighter: #748495;
$back_menu_medium: #2a323a;
$back_menu_darker: $back_web_lighter;

// Fuentes
$fjalla: "Fjalla One", sans-serif;
$manrope: "Manrope", sans-serif;
$merri: "Merriweather", serif;
