@use '../utilities/_variables.scss' as v;

.mainDetails__img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(19, 19, 19, 1) 60%, transparent 90%);
    z-index: -1;
}

.containerInfo{
    padding-top: 200px;
    width: 100%;
    height: fit-content;
    display: grid; 
    grid-template-columns: auto 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "poster info"; 

    &__poster{
        grid-area: poster;
        width: fit-content;
        height: 350px;
        transition: all 0.3s ease-in-out;

        &--img{
            height: 100%;
            aspect-ratio: 2/3;
            object-fit: cover;
            border-radius: 10px;
            border: v.$yellow 2px solid;
        }
    }

    &__details{
        grid-area: info;
        max-width: 100%;
        font-size: 10rem;
        color: v.$white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5rem;
        
        &--title{
            min-width: 100px;
            max-width: 100%;
            font-size: 6rem;
            font-family: v.$fjalla;
            margin-top: auto;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &--director{
            font-size: 3rem;
            font-family: v.$manrope;
            
        }

        &--duration{
            font-size: 3rem;
            font-family: v.$manrope;
            margin-top: auto;
        }
    }
}

@media screen and (max-width: 850px) {
    .containerInfo{
        
    
        &__poster{
            height: 250px;
    
            &--img{
            }
        }
    
        &__details{
            padding: 10px;
            
            &--title{
                font-size: 2rem;
            }
    
            &--director{
                font-size: 1.7rem;
            }
    
            &--duration{
                font-size: 1.7rem;
            }
        }
    }
}