@use "../utilities/_variables.scss" as v;
// Estilos del header

.header {
  background-color: v.$back_web_lighter;
  height: 7.5rem;
  padding: 0 auto;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    min-width: 25rem;
    max-width: 175rem;
    height: 100%;
    margin: 0 auto;

    &__logo {
      height: 65%;
      cursor: pointer;
    }

    &__menu {
      filter: invert(89%) sepia(57%) saturate(1445%) hue-rotate(322deg)
        brightness(92%) contrast(94%);
      height: 50%;
      cursor: pointer;
    }
  }
}
